// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/
$mz-theme-primary-color: #ff0;
$mz-theme-secondary-color: #5F5F5F;
$mz-theme-success-color: #098B5B;
$mz-theme-background-dark: #000;
$mz-theme-background-light: #fff;
$mz-theme-background-offset: #f6f6f6;
$mz-theme-font-color-dark: #000;
$mz-theme-font-color-light: #fff;
$mz-theme-component-margin: 0;
$mz-theme-component-padding: 20px;
$mz-theme-component-height-standard: 500px;
$mz-theme-component-height-full: calc(100vh - 75px);
$mz-theme-button-border-radius: 0;
$mz-theme-is-boxed-layout: true;

// Background Colors
$mz-theme-gray: #797979;
// Border
$mz-theme-color-border: #ecf0f1;
// Text
$color-text-light-grey: rgba(0, 0, 0, 0.4);
$color-text-dark-grey: rgba(0, 0, 0, 0.89);
$color-text: #808285;


